//################DATABASE
DB_HOST='45.118.145.164'
DB_USER='dev'
DB_PASSWORD='dev@C2i2022'
DB_NAME='jts_service'
//################CAPTCHA
CAPTCHA_URL='https://www.google.com/recaptcha/api/siteverify'
CAPTCHA_SECRET_KEY='6LcTXvEfAAAAAAdbu7TynsJp5a01bQJrQ2YCgKAQ'
//################EMAIL
EMAIL_HOST='mail9216.maychuemail.com'
EMAIL_PORT=465
EMAIL_ADDRESS='noreply@muonline.io'
EMAIL_PASSWORD='muonline@2022!'
//#################REDIS
REDIS_HOST='45.118.145.164'
REDIS_PORT=6379
REDIS_PASSWORD="PZ9uamzRkeNYRFlos3DP"